<div class="w-full flex flex-row justify-between items-center">
    <span>
        {{ todo.title }}
    </span>
    <div class="flex gap-2">
        <button (click)="onEditTodo(todo)">
            <img
                draggable="false"
                width="16"
                src="https://img.icons8.com/ios-filled/16/1A1A1A/edit--v1.png"
                alt="edit--v1"
            />
        </button>
        <button (click)="onDeleteTodo(todo.id)">
            <img
                draggable="false"
                width="16"
                src="https://img.icons8.com/ios-filled/16/1A1A1A/x.png"
                alt="x"
            />
        </button>
    </div>
</div>
